:root {
    font: 1rem "Quicksand", sans-serif;
}

html,
body {
    height: 100%;
}

a {
    color: inherit;
}
a:hover {
    color: #FF5F6D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #FF5F6D;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
    float: right;
    margin-top: 38px;
}

.btn--primary:hover {
    background: #D9555E;
}

.btn--primary:active {
    background: #FF5F6D;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.form__field {
    width: 360px;
    background: #fff;
    color: #7e7e7e;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}
.ptag {
    color: rgb(209, 209, 209);
    width: 400px;
    margin: auto;
    margin-top: 8px;
    font-size: small;
}

body {
    overflow: hidden;
}

label {
    display: block;
}

label.label {
    margin-top: 30px;
    margin-bottom: 8px;
    color: white;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    color: #ddd;
    font-size: small;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#checkboxes {
    display: flex;
}

.stats-label {
    margin-bottom: 16px !important;
}

.checkboxes__item {
    width: 396px;
}

#checkboxes > div {
    width: 50%;
}

label.error {
    color: red;
    font-size: small;
    margin-top: 4px;
}

.btn-wrapper {
    width: 396px;
    margin: auto;
    height: 20vh;
    overflow: hidden;
}

.hidden {
    display: none;
}

.hover-hint {
    cursor: help;
}
