
body {
    font-family: 'Teko', Helvetica, Arial, sans-serif;
    margin: 0px !important;
    overflow: hidden !important;
    object-fit: cover;
    height: 100vh;
}

.player-data {
    font-size: 24px;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
}

.left-column {
    flex: 0 0 25%;
    line-height: 22px;
}

.right-column {
    flex: 0 0 33%;
    line-height: 22px;
}

.right-column > div, .left-column > div {
    margin-bottom: 13px;
    letter-spacing: -1px;
}

.fairly-big {
    font-size: 34px;
    white-space: nowrap;
}

.small {
    font-size: 20px;
    width: 100px;
    letter-spacing: 0.5px;
}

.boody {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: large;
    font-weight: 600;
    margin: 20px auto 0 auto;
    width: 100%;
}

.bg-imooge {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sexy-blur {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    background-color: #000000bf;
}

#name {
    display: block;
    margin: 10px 10px 15px 10px;
    padding-left: 35px;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 8px;
    width: max-content;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#name:hover {
    transform: scale(1.05);
}

#flags {
    width: 1.1rem;
}

.hover-hint {
    cursor: help;
}


a,
a:hover,
a:focus,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}
